.headerContainer {
  height: 5rem;
  width: 100vw;

  @media (max-width: 960px) {
    display: none;
  }
}

.headerContent {
  @media (min-width: 1840px) {
    width: 1800px;
  }
  @media (max-width: 1280px) {
    width: 800px;
  }
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;

  h1 {
    color: var(--green-500);
    font-size: 2rem;
  }

  nav {
    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      font-size: 1.3rem;
      color: var(--white);
      transition: filter 0.2s;
      margin-left: 15px;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  button {
    width: 130px;
    height: 50px;
    border: 0;
    border-radius: 0.2rem;
    color: var(--green-500);
    background: var(--white);
  }
}
