.container {
  width: 100vw;
  height: 100vh;
  background: var(--gray-100);
  padding-top: 3rem;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    color: var(--gray-500);
    line-height: 2rem;
    margin-top: 1rem;
  }
}
.carousel {
  padding-left: 10rem;

  &:after {
    content: "";
    width: 10rem;
    height: 500px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.233) 0%,
      var(--gray-100) 50%
    );
    position: absolute;
    right: 0;
    z-index: 1;
    margin-top: -530px;
  }

  @media (max-width: 1500px) {
    padding-left: 8rem;

    &:after {
      width: 8rem;
    }
  }
  @media (max-width: 1460px) {
    padding-left: 5rem;
    &:after {
      width: 5rem;
    }
  }
  @media (max-width: 1000px) {
    padding-left: 3rem;
    &:after {
      width: 3rem;
    }
  }
}
.arrowLeft {
  margin-top: 17.5rem;
  @media (max-width: 1400px) {
    margin-top: 15rem;
  }
  @media (max-width: 1200px) {
    margin-top: 13rem;
  }
  @media (max-width: 1080px) {
    margin-top: 14rem;
  }
  @media (max-width: 1000px) {
    margin-top: 11rem;
  }

  svg {
    display: flex;
    margin: 0 auto;
  }
}
.arrowRight {
  right: 50px;
  margin-top: 17.5rem;

  @media (max-width: 1400px) {
    right: 6%;
    margin-top: 15rem;
  }
  @media (max-width: 1200px) {
    margin-top: 13rem;
  }
  @media (max-width: 1080px) {
    right: 4%;
    margin-top: 14rem;
  }
  @media (max-width: 1000px) {
    right: 2%;
    margin-top: 11rem;
  }
  svg {
    display: flex;
    margin: 0 auto;
  }
}
