.container {
  width: 100vw;
  height: 100vh;
  //  padding: 10rem;
  background: var(--gray-100);
 
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
.carousel{
  //   position: relative;
  //   z-index: 0;
  // background: red;
}
.arrowLeft {
  width: 3rem;
  height: 3rem;
  background: var(--white);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  z-index: 2;
  margin-top: 13rem;
  svg {
    display: flex;
    margin: 0 auto;
  }
}
.arrowRight {
  width: 3rem;
  height: 3rem;
  background: var(--white);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  z-index: 2;
  margin-top: 13rem;
  right: 0;
  svg {
    display: flex;
    margin: 0 auto;
  }
}
