.container {
  height: 100vh;
}

.content {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;

  h1 {
    color: var(--blue-500);
  }
  p {
    color: var(--gray-500);
    line-height: 1.2rem;
  }
}
